.menu-list {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.menu-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    background-color: white;
}

.menu-item img {
    width: 100%;
    height: auto;
}
